h1 {
    text-align:center;
    margin-top: 55px;
    margin-bottom: 55px;
}

h4 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
}

button.btn-info {
    margin-top: 25px;
}

.navbar-inverse {
    background: #131313;
}

.sidebar {
    padding-top: 5px;
    background: #131313;
    position: fixed;
    width: 50px;
    height: 100vh;
    transition: width 0.4s;
    overflow: hidden;
}

.sidebar:hover {
    width: 250px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: background 0.4s;
}

.sidebar li:hover {
    background: #272727
}

.sidebar i {
    font-size: 100%;
    width: 40px;
    text-align: center;
    margin-right: 5px;
}

.menu-text {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.4s;
}

.sidebar:hover .menu-text {
    opacity: 1;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

main {
    margin-left: 50px;
    padding: 15px;
}

.flashes-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flashes li {
    background: rgb(252, 240, 82);
    padding: 15px;
    border-radius: 25px;
    border-left: 5px solid rgb(255, 191, 0);
    box-shadow: 1px 4px rgb(177, 177, 177);
}