{% extends "layout.html" %}

{% block javascript2 %}
<script src="{{ url_for('static', filename='pass_check.js') }}"></script>
{% endblock %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<h1>Change Password</h1>
<form class="form-horizontal" action="{{ url_for('profile.change_password') }}" method="post">
    <div class="form-group">
        <label class="control-label col-sm-5" for="old_pass">Old Password:</label>
        <div class="col-sm-2">
            <input class="form-control" id="old_pass" name="old_pass" autofocus autocomplete="off" placeholder="Old Password" type="password" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="password">Password:</label>
        <div class="col-sm-2">
            <input class="form-control" id="password" name="password" autocomplete="off" placeholder="Password" type="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.{8,}).*$" title="Password must contain at least one lowercase letter, one uppercase letter, one number, and be at least 8 characters long." minlength="8" required>
        </div>
        <div class="col-sm-1">
            <span id="pass_message" style="font-size:22px"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="confirmation">Confirm Password:</label>
        <div class="col-sm-2">
            <input class="form-control" id="confirmation" name="confirmation" autocomplete="off" placeholder="Confirm Password" type="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.{8,}).*$" title="Password must contain at least one lowercase letter, one uppercase letter, one number, and be at least 8 characters long." minlength="8" required>
        </div>
        <div class="col-sm-1">
            <span id="confirm_message" style="font-size:22px"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <button class="btn btn-lg btn-info" type="submit">Change Password</button>
        </div>
    </div>
</form>
{% endblock %}