{% extends "layout.html" %}

{% block title %}
    Employee Dashboard
{% endblock %}

{% block main %}
<div class="container">
    <div class="panel text-center" style="margin-top:30px">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a class="events-disabled" href="{{ url_for('dashboard.all_visas') }}">
                    <div class="panel panel-default" style="padding:30px">
                        <h2 style="font-size:60px">{{ visas_all.count }}</h2>
                        <h4 class="text-muted">All Visa Requests</h4>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a class="events-disabled" href="{{ url_for('dashboard.passport_confirmation') }}">
                    <div class="panel panel-default" style="padding:30px">
                        <h2 style="font-size:60px">{{ passports.count }}</h2>
                        <h4 class="text-muted">Passports Pending Approval</h4>
                    </div>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-4">
                <a class="events-disabled" href="{{ url_for('dashboard.pending_visas') }}">
                    <div class="panel panel-default" style="padding:30px">
                        <h2 style="font-size:60px">{{ waiting_visa.count }}</h2>
                        <h4 class="text-muted">Visa Requests Awaiting Appointment</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a class="events-disabled" href="{{ url_for('dashboard.approved_visas') }}">
                    <div class="panel panel-default" style="padding:30px">
                        <h2 style="font-size:60px">{{ confirmed_visa.count }}</h2>
                        <h4 class="text-muted">Approved Visa Requests</h4>
                    </div>
                </a>
            </div>
        
            <div class="col-xs-12 col-sm-4">
                <a class="events-disabled" href="{{ url_for('dashboard.visa_tracking') }}">
                    <div class="panel panel-default" style="padding:30px">
                        <h2 style="font-size:60px">{{ applicated_visa.count }}</h2>
                        <h4 class="text-muted">Tracking of Visa Applications</h4>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a class="events-disabled" href="{{ url_for('dashboard.pending_greencards') }}">
                    <div class="panel panel-default" style="padding:30px">
                        <h2 style="font-size:60px">{{ waiting_gc.count }}</h2>
                        <h4 class="text-muted">Pending Green Card Requests</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}