{% extends 'layout.html' %}

{% block title %}
    Pending Greencard Requests
{% endblock %}

{% block main %}
<h1>Pending Greencard Requests</h1>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Plate</th>
        <th>Start Date</th>
        <th>Period</th>
        <th>Status</th>
        <th>Request Date</th>
        <th class="text-center">Confirm/Prepared</th>
        <th class="text-center">Cancel</th>
    </tr>
    {% if greencards %}
    {% for greencard in greencards %}
    <tr>
        <td>{{ greencard.username }}</td>
        <td>{{ greencard.plate }}</td>
        <td>{{ greencard.startdate }}</td>
        <td>
            {% if greencard.cov_period == '3M' %}
            3 Months
            {% elif greencard.cov_period == '1M' %}
            1 Month
            {% elif greencard.cov_period == '15D' %}
            15 Days
            {% endif %}
        </td>
        <td style="color:{% if greencard.stat == 0 %}orange{% elif greencard.stat == 1 %}blue{% elif greencard.stat == 2 %}green{% endif %}"><b>
            {% if greencard.stat == 0 %}
            Pending confirmation for insurance...
            {% elif greencard.stat == 1 %}
            Green card insurance is being prepared...
            {% elif greencard.stat == 2 %}
            Green card insurance has been prepared.
            {% endif %}
        </b></td>
        <td>{{ greencard.request_date | format_date }} | UTC</td>
        <td class="text-center">
            {% if greencard.stat == 0 %}
            <a href="{{ url_for('dashboard.send_greencard', id = greencard.id) }}"><i class="bi bi-send-plus-fill" style="color: rgb(42, 42, 255)"></i></a>
            {% elif greencard.stat == 1 %}
            <form action="{{ url_for('dashboard.prepared_greencard', id = greencard.id) }}" method="post">
                <button class="btn-icon" type="submit"><i class="bi bi-send-check-fill" style="color: green"></i></button>
            </form>
            {% endif %}
        </td>
        <td class="text-center">
            <form action="{{ url_for('dashboard.cancel_gc_request', id = greencard.id) }}" method="post">
                <button class="btn-icon" type="submit"><i class="bi bi-send-slash-fill" style="color: red"></i></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    {% endif %}
</table>
{% endblock %}