<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% block javascript %}{% endblock %}
        <link href="/static/styles.css" rel="stylesheet">

        <title>Xahar's System: {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% if logged_in %}
        <div class="sidebar">
            <ul>
                {% if user__role > 1 %}
                <a href="{{ url_for('admin.admin_db') }}">
                    <li>
                        <i class="bi bi-incognito"></i>
                        <span class="menu-text">Admin Dashboard</span>
                    </li>
                </a>
                {% endif %}
                {% if user__role > 0 %}
                <a href="{{ url_for('dashboard.employee_db') }}">
                    <li>
                        <i class="bi bi-columns-gap"></i>
                        <span class="menu-text">Employee Dashboard</span>
                    </li>
                </a>
                {% endif %}
                <a href="/me">
                    <li>
                        <i class="bi bi-person-fill"></i>
                        <span class="menu-text">My Profile</span>
                    </li>
                </a>
                <a href="/me/passports">
                    <li>
                        <i class="bi bi-passport-fill"></i>
                        <span class="menu-text">My Passports</span>
                    </li>
                </a>
                <a href="/me/vehicles">
                    <li>
                        <i class="bi bi-car-front-fill"></i>
                        <span class="menu-text">My Vehicles</span>
                    </li>
                </a>
                <a href="/me/requests">
                    <li>
                        <i class="bi bi-hourglass-split"></i>
                        <span class="menu-text">My Requests</span>
                    </li>
                </a>
            </ul>
        </div>
        {% endif %}
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">

                    <!-- Sol kısım: Marka ve hamburger butonu -->
                    <div class="navbar-header">
                    <!-- Bu buton, ekran daraldığında menüyü açıp kapatır -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">Xahar</a>
                    </div>

                    <!-- Menü kısmı: collapse class'ı mobilde gizlenmesini sağlar -->
                    <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Homepage</a></li>
                        <li><a href="/visa">About Visa</a></li>
                        <li><a href="/greencard">About Green Card</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if logged_in %}
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user__name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/me">Profile</a></li>
                            {% if user__role > 0 %}
                            <li><a href="{{ url_for('dashboard.employee_db') }}">Employee Dashboard</a></li>
                            {% endif %}
                            {% if user__role > 1 %}
                            <li><a href="{{ url_for('admin.admin_db') }}">Admin Dashboard</a></li>
                            {% endif %}
                        </ul>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                        {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                </nav>
        </header>
        
        </div>
        <main>
            <div class="flashes-container text-center">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li><b>{{ message }}</b></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            Copyright Xahar
        </footer>
    </body>
    {% block javascript2 %}{% endblock %}
</html>