<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="static/styles.css" rel="stylesheet">

        <title>Xahar's System: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inerse">
                <div class="container-fuild">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Xahar</a>
                    </div>

                    {% if logged_in %}

                    <ul class="nav navbar-nav">
                        <li><a href="/">Homepage</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Green Card<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/greencard">About Green Card</a></li>
                                <li><a href="/greencard/request">Green Card Request</a></li>
                                <li><a href="/greencard/status">Green Card Request Status</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Visa<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/visa">About Visa</a></li>
                                <li><a href="/visa/application">Visa Application Request</a></li>
                                <li><a href="/visa/status">Visa Application Status</a></li>
                                <li><a href="/visa/statistics">Visa Application Statistics</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><p>Welcome, {{ username }}.</p></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Profile<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile"></a></li>
                                    <li><a href="/vehicles"></a></li>
                                    <li><a href="/passports"></a></li>
                                    <li><a href="/requests"></a></li>
                                </ul>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>

                    {% else %}
                    
                    <ul class="nav navbar-nav">
                        <li><a href="/">Homepage</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Green Card<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/greencard">About Green Card</a></li>
                                <li><a href="/greencard/request">Green Card Request</a></li>
                                <li><a href="/greencard/status">Green Card Request Status</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Visa<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/visa">About Visa</a></li>
                                <li><a href="/visa/application">Visa Application Request</a></li>
                                <li><a href="/visa/status">Visa Application Status</a></li>
                                <li><a href="/visa/statistics">Visa Application Statistics</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>

                    {% endif %}
                
                </div>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer style="margin: 0 auto 0 auto">
            Copyright Xahar
        </footer>
    </body>
</html>