<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ requ.subject }}</title>
    </head>
    <body>
        <table border="1" cellpadding="5">
            <tr>
                <td>Name & Surname</td>
                <td>{{ requ.name }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ requ.address }}</td>
            </tr>
            <tr>
                <td>Plate</td>
                <td>{{ requ.plate }}</td>
            </tr>
            <tr>
                <td>VIN</td>
                <td>{{ requ.vin }}</td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>{{ requ.brand }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ requ.model }}</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>{{ requ.color }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ requ.start_date }}</td>
            </tr>
            <tr>
                <td>Policy Number</td>
                <td>{{ requ.policy_no }}</td>
            </tr>
            <tr>
                <td>Coverage Period</td>
                <td>{{ requ.period }}</td>
            </tr>
        </table>
    </body>
</html>