{% extends 'layout.html' %}

{% block title %}
    Modify Visa Request
{% endblock %}

{% block main %}
<form class="form-horizontal" action="{{ url_for('profile.modify_visa_request', id = request.id) }}" method="post">
    <h1>Modify Visa Request</h1>
    <div class="form-group">
        <label class="control-label col-sm-5" for="passport">Your Passport:</label>
        <div class="col-sm-2">
            <select class="form-control" id="passport" required>
                <option disabled>Passport No. | Date of Expiry</option>
                <option selected>{{ passport.pass_no }} | {{ passport.pass_exp }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="country">Country:</label>
        <div class="col-sm-2">
            <select class="form-control" id="country" name="country" required>
                <option disabled>Select Country</option>
                {% for country in countries %}
                <option value="{{ country }}"{% if country == request.country %} selected{% endif %}>{{ country }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="pref_date">Prefferred Appointment Date:</label>
        <div class="col-sm-2">
            <input class="form-control" id="pref_date" name="pref_date" type="date" value="{{ request.prefferred_appointment_date }}" required>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-info btn-lg">Modify Request</button>
    </div>
</form>
{% endblock %}