{% extends "layout.html" %}

{% block title %}
    My Requests
{% endblock %}

{% block main %}
<h1>My Requests</h1>
<div class="text-center" style="margin-bottom: 10px">
    <a class="btn btn-success" href="{{ url_for('profile.new_visa_request') }}">New Visa Request</a>
</div>
<label for="visa_requests" style="margin-bottom: 10px; font-size: 20px">Awaiting Visa Requests:</label>
<table class="table" id="visa_requests">
    <tr>
        <th>Passport No.</th>
        <th>Country</th>
        <th>App. Type</th>
        <th>Prefferred App. Date</th>
        <th>Status</th>
    </tr>
    {% if visa %}
    {% for request in visa %}
    <tr>
        <td>{{ request.pass_no }}</td>
        <td>{{ request.country }}</td>
        <td>{{ request.app_type }}</td>
        <td>{{ request.pref_app_date }}</td>
        <td style="color:{% if request.stat == 0 %}orange{% elif request.stat == 1 %}blue{% else %}green{% endif %}"><b>
            {% if request.stat == 0 %}
            Waiting for appointment confirmation...
            {% elif request.stat == 1 %}
            Appointment confirmed.
            {% else %}
            Application completed.
            {% endif %}
        </b></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td>NO DATA</td>
        <td>NO DATA</td>
        <td>NO DATA</td>
        <td>NO DATA</td>
        <td>NO DATA</td>
    </tr>
    {% endif %}
</table>
<div class="text-center">
    <a href="#">Show More</a>
</div>
{% endblock %}