{% extends 'layout.html' %}

{% block title %}
    Visa Requests
{% endblock %}

{% block main %}
<h1>Visa Requests</h1>
<table class="table">
    <div class="text-center" style="margin-bottom: 10px">
        <a class="btn btn-success" href="{{ url_for('request.new_visa_request') }}">New Visa Request</a>
    </div>
    <tr>
        <th>Passport No.</th>
        <th>Country</th>
        <th>App. Type</th>
        <th>Pref. App. Date</th>
        <th>Request Date</th>
        <th>Status</th>
        <th>Appointment Date</th>
        <th>Result Date</th>
        <th class="text-center">Modify</th>
        <th class="text-center">Cancel</th>
    </tr>
    {% if visa_requests %}
    {% for requ in visa_requests %}
    <tr>
        <td>{{ requ.pass_no }}</td>
        <td>{{ requ.country }}</td>
        <td>{{ requ.app_type }}</td>
        <td>{{ requ.pref_app_date }}</td>
        <td>{{ requ.request_date }}</td>
        <td style="color:{% if requ.stat == 0 %}yellow{% elif requ.stat == 1 %}orange{% elif requ.stat == 2 %}blue{% elif requ.stat == 3 %}green{% endif %}"><b>
            {% if requ.stat == 0 %}
            Waiting for appointment confirmation...
            {% elif requ.stat == 1 %}
            Appointment confirmed...
            {% elif requ.stat == 2 %}
            Awaiting result...
            {% else %}
            Application completed.
            {% endif %}
        </b></td>
        <td {% if requ.app_date %}style="color:blue"{% endif %}><b>{{ requ.app_date }}</b></td>
        <td>{{ requ.result_date }}</td>
        {% if requ.stat == 0 %}
        <td class="text-center"><a href="{{ url_for('request.modify_visa_request', id = requ.id) }}"><i class="bi bi-pencil-fill" style="color: cyan"></i></a>
        <td class="text-center"><a href="{{ url_for('request.cancellation_visa_request', id = requ.id) }}"><i class="bi bi-trash3-fill" style="color: red"></i></a></td>
        {% else %}
        <td class="text-center"><i class="bi bi-pencil-fill" style="color: grey"></i></td>
        <td class="text-center"><i class="bi bi-trash3-fill" style="color: grey"></i></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td>NO DATA</td>
    <td class="text-center"><i class="bi bi-pencil-fill" style="color: grey"></i></td>
    <td class="text-center"><i class="bi bi-trash3-fill" style="color: grey"></i></td>
    {% endif %}
</table>
{% endblock %}