{% extends 'layout.html' %}

{% block javascript2 %}
<script src="{{ url_for('static', filename='user_query.js') }}"></script>
{% endblock %}

{% block title %}
    Set Roles
{% endblock %}

{% block main %}
<input autocomplete="off" autofocus placeholder="Enter a username." type="text">
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th class="text-center">Set as Employee</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}