{% extends 'layout.html' %}

{% block javascript2 %}
<script src="{{ url_for('static', filename='user_query.js') }}"></script>
{% endblock %}

{% block title %}
    Set Roles
{% endblock %}

{% block main %}
<h1>User Roles</h1>
<div class="row">
    <label class="col-sm-5 col-form-label text-right" for="input">Search User:</label>
    <div class="col-sm-2">
        <input class="form-control" id="input" autocomplete="off" autofocus placeholder="Enter a username." type="text" style="margin-bottom:25px;">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th class="text-center">Set as Employee</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}