{% extends "layout.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block sidebar %}
<a href="/me">
    <li>
        <i class="bi bi-person-fill"></i>
        <span class="menu-text">My Profile</span>
    </li>
</a>
<a href="/me/documents">
    <li>
        <i class="bi bi-file-earmark-ruled-fill"></i>
        <span class="menu-text">My Documents</span>
    </li>
</a>
<a href="/me/passports">
    <li>
        <i class="bi bi-passport-fill"></i>
        <span class="menu-text">My Passports</span>
    </li>
</a>
<a href="/me/vehicles">
    <li>
        <i class="bi bi-car-front-fill"></i>
        <span class="menu-text">My Vehicles</span>
    </li>
</a>
<a href="/me/requests">
    <li>
        <i class="bi bi-hourglass-split"></i>
        <span class="menu-text">My Requests</span>
    </li>
</a>
{% endblock %}

{% block main %}
<div class="dashboard">
    <h1>Dashboard</h1>
    <h4>Welcome, {{ name }}.</h4>
    <div class="cards">
        <ul>
            
    </div>
</div>
<!--
- Hoşgeldin mesajı
- Butonlar
--- Profilim
--- Evraklarım
--- Pasaportlarım
--- Araçlarım
--- Başvurularım
-->
{% endblock %}